

<app-header></app-header>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <app-about-me></app-about-me>
    </div>
    <div class="col-sm-8">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Bai viet moi
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form *ngIf="postForm" [formGroup]="postForm" (ngSubmit)="submit()">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Title</label>
                  <input formControlName="title" type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="title">
                  <div *ngIf="titlePost?.invalid && (titlePost?.dirty || titlePost?.touched)"
                       class="alert alert-danger">
                    <div *ngIf="titlePost?.errors?.['required']">
                      Title can not be empty
                    </div>
                    <div *ngIf="titlePost?.errors?.['minlength']">
                      Title must be at least 4 characters long.
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                  <textarea formControlName="description" class="form-control" name="description" placeholder="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <div *ngIf="descriptionPost?.invalid && (descriptionPost?.dirty || descriptionPost?.touched)"
                       class="alert alert-danger">
                    <div *ngIf="descriptionPost?.errors?.['required']">
                      Description can not be empty
                    </div>

                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!postForm.valid" >Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div  *ngFor="let post of posts;let i = index" class="col-12">
          <h2>Tiêu đề: {{ post.title }}-{{post.likes}}Likes</h2>
          <h5>Ngày viết: {{ post.date | date :'dd/MM/yyyy' }}</h5>
          <p>{{ post.description }}</p>
          <p>Comments: </p>
          <ul class="comment-post">
            <li *ngFor="let comment of post.comments" class="comment-item">
              <p>{{comment.name}}</p>
              <p>{{comment.content}}</p>
            </li>
          </ul>
          <button (click)="showBoxCommentPost(i)">Comment</button>
          <ng-container *ngIf="i == indexPostHide">
            <app-comment (commentPost)="addComment($event)"></app-comment>
          </ng-container>
          <button>Like</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

